*
{
	color: white;
	font-size: 30px;
}

body
{
	background-image: url('http://static1.squarespace.com/static/5615b320e4b0e721c6b10060/t/56296873e4b0bde5213b7671/1445554356801/870852-pizza-wallpaper-2880x1800.jpg?format=2500w');
}
